* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

* {
    font-family: 'Quattrocento', serif;
}

h4 {
    padding: 30px;
    color: white;
}

h5 {
    color: rgb(128, 122, 122);
}

h6 {
    color: rgb(105, 103, 103);
}

body {
    border: 20px solid black;
    overflow-x: hidden;
}

main {
    overflow: hidden;

    background: rgb(0, 0, 0);
    background: rgb(162, 0, 0);
    background: linear-gradient(0deg, rgba(162, 0, 0, 0.8492530801383054) 0%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 93%);

}

a {
    color:#585656
}
a:visited { 
    color: rgb(121, 118, 121);
  }

  header nav {
    position: static;
}
/*NAV HEADER and main menu stuff*/

.menuOsa {

    padding-left: 8rem;
    width: 100%;
    height: 9rem;
    margin-bottom: 2rem;
    background: rgb(162, 0, 0);
    background: linear-gradient(180deg, rgba(162, 0, 0, 0.8492530801383054) 0%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 93%);
    border: none !important;

}

.logo {
    margin-top: 2rem;
    height: 50px;
    margin-right: 17rem;
}



#menu {
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 5rem;

    border: none;
    width: 51rem;
    height: 50px;
    left: -76px;
    top: 0px;

}

#tekst {
    display: block;
    width: 30rem;
    margin-left: 1%;
   opacity: 0.2;
   
}

.hidden-desktop {
    display: none;
}

#menubutton1,
#menubutton2,
#menubutton3,
#menubutton4,
#menubutton5,
#menubutton7 {
    position: relative;
    background: rgb(3, 3, 3);
    background: linear-gradient(161deg, rgba(3, 3, 3, 1) 67%, rgba(83, 22, 22, 1) 100%);
    display: inline-block;
    width: 110px;
    height: 35px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
    color: rgb(241, 174, 48);
    text-transform: uppercase;
    padding: 10px 4px 10px 6px;
    background-color: #030303;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    letter-spacing: 0.1em;
    align-items: center;
    text-align: center;
    border-top: none;
    border-right: none;
    border-bottom: solid 0.1px #d05b0f;
    border-left: none;
    /*transition-duration: 0.1s;*/
    cursor: pointer;
    z-index: 10;
}

#menubutton6 {
    position: relative;
    background: rgb(3, 3, 3);
    background: linear-gradient(161deg, rgba(3, 3, 3, 1) 67%, rgba(83, 22, 22, 1) 100%);
    display: inline-block;
    width: 120px;
    height: 35px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
    color: rgb(241, 174, 48);
    text-transform: uppercase;
    padding: 10px 4px 10px 6px;
    background-color: #030303;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    letter-spacing: 0.1em;
    align-items: center;
    text-align: center;
    border-top: none;
    border-right: none;
    border-bottom: solid 0.1px #d05b0f;
    border-left: none;
    /*transition-duration: 0.1s;*/
    cursor: pointer;

}



.active {
    position: relative;
    background: rgb(3, 3, 3);
    background: linear-gradient(161deg, rgba(3, 3, 3, 1) 67%, rgba(83, 22, 22, 1) 100%);
    display: inline-block;
    width: 110px;
    height: 35px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-align: center;
    color: rgb(241, 174, 48);
    text-transform: uppercase;
    padding: 10px 4px 10px 6px;
    background-color: #030303;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    letter-spacing: 0.1em;
    align-items: center;
    text-align: center;
    border-top: none;
    border-right: none;
    border-bottom: solid 4px #d05b0f !important;
    border-left: none;
    /*transition-duration: 0.1s;*/
    cursor: pointer;

}


/*Reklaami ja kuulutuste ala väljaspool infoboxi*/
#leftBanner {
    position: fixed;
    width: 19rem;
    height:22.5rem;
    left: 4.5rem;
    top: 15rem;
    z-index: 1;
    border-radius: 3px;
}
#leftBanner:hover{
cursor: pointer;
}

/*AIKI vaatab pilt- kuulub põhimõtteliselt body alla*/

.aikivaatab {
    position: absolute;
    right:0;
    top: 11rem;
    height: 40rem;
    opacity: 0.5;
    z-index: 1;
}


/*Terve Infoboxi ala kuhu siis kuuluvad kõik sisu poolelt*/
.infobox {
    overflow: auto;
    padding-top: 1rem;
    border-top: rgb(63, 23, 23) 0.1px solid;
    border-bottom: rgb(63, 23, 23) 0.1px solid;
    width: 37rem;
    height: 45rem;
    margin: 4rem auto;
}

.date {
    margin-left: -2rem;
    margin-bottom: 2px;
    margin-top: 2rem;
}

.dateFirst {
    margin-left: -2rem;

    margin-bottom: 2px;
    margin-top: 0.2rem;
}



/*FEED STUFF*/
#content-uudised p {
    color: rgb(189, 181, 181);
    text-align: center;
    padding-top: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}



#feedimage {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 10%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-bottom: 2rem;
    opacity: 0.8;
}

#feedimage:hover {
    cursor: pointer;
}

#content-christmas {
    padding-right: 1rem;
}

#content-christmas p {
    margin-top: 2rem;
    color: rgb(189, 181, 181);
    text-align: center;
    padding-top: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    
}


#chr-text {
margin-right: 20px;

}

#content-christmas .videoContainer{

z-index: 11;
}
#content-uudised {
    overflow-y: visible;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}



#content-uudised strong {
    font-size: 25px;
}

#content-uudised video {
    display: block;
    margin: 1rem auto;
}


#content-christmas strong {
    font-size: 25px;
}

#wordContact {
    text-decoration: underline;
    color:white;
}
#wordContact:hover {
cursor: pointer;
}

#tel {
    color: white;
}

.containerVideo {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-bottom: 2rem;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#arabianCuban {
    display: block;
    width: 97%;
    margin:auto;
}

.media-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 1rem;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin-bottom: 2rem;
}

#sanomat {
    display: block;
    width: 98%;
}


/*AIKI Stuff*/
#about {
    color: rgb(189, 181, 181);
    text-align: center;
    padding-top: 5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}

#about strong {
    font-size: 45px;
}

/*MEDIA stuff*/

#content-media {
    height: 99%;
    overflow-y: auto;
    display: block;
    margin: 0px 0px;
    padding-right: 0.5rem;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px 110px 110px 110px 110px;*/
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.mediaVideo {
        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border:rgb(44, 43, 43) 0.1px solid;
    }


.galerii {
    color: white;
    text-align: center;
    margin: 1px;
    background-color: rgb(19, 17, 17);
}

.aikikitarr {
    width: 100%;
    min-height: 100%;
}

.aikisynt {
    width: 100%;
    min-height: 100%;
}


.aikitamburiin {
    width: 70%;

    /*height: 50px;
    width: 75px;
    min-height: 100%;*/
}

.aikiprofiil {
    width: 50%;
   
    /*height: 50px;
    width: 75px;
    min-height: 100%;*/
}

.aikipurje3 {
    width: 65%;
    /*height: 50px;
    width: 75px;
    min-height: 100%;
    padding: 0;*/
}

#aikijoul {
    width: 100%;
    /*height: 50px;
    width: 75px;
    min-height: 100%;
    padding: 0;*/
}

.pilt6 {
    background: limegreen;
}

.pilt7 {
    background: coral;
}

.pilt8 {
    background: lightseagreen;
}

.pilt9 {
    background: maroon;
}

.pilt10 {
    background: rgb(85, 71, 71);
}

.pilt11 {
    background: rgb(192, 38, 38);
}

.pilt12 {
    background: rgb(10, 136, 38);
}

.pilt13 {
    background: rgb(184, 40, 40);
}

.pilt14 {
    background: rgb(40, 17, 94);
}

.pilt15 {
    background: rgb(75, 240, 110);
}

.aikipildid img {
    height: 30rem;
}


/*SANAT stuff*/
#content-sanat {
    border: none;
    height: 519px;
    width: 100%;
    margin: 0px 0px;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 110px 110px 110px 110px 110px;*/
}

.sanat {
    color: white;
}

#content-sanat img {
    margin-left: 5rem;
    border-radius: 3px;
}



.laulusõnad {
    margin-bottom: 1px;
    margin-right: 40px;
    margin-left: 40px;
    width: 400px;
    height: 519px;
}


/* CONTACT stuff */
fieldset {
    border: none;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    color: #f1ae30;
}

#andmed {
    display: flex;
    justify-content: start;
}

#name {
    margin-bottom: 2rem;
}

#message {
    width: 35rem;
    height: 15rem;
}

#andmed label {
    margin-right: 0.5rem;
}

#andmed input {
    margin-right: 2rem;
}

#send {
    background: rgb(241, 174, 48);
    background: linear-gradient(121deg, rgba(241, 174, 48, 1) 67%, rgba(236, 132, 11, 1) 76%, rgba(208, 91, 15, 1) 83%, rgba(193, 69, 17, 1) 94%, rgba(161, 22, 22, 1) 100%) !important;
    border: none;
    height: 2rem;
    width: 6rem;
    cursor: pointer;
}

#message {
    width: 81%;
}

input {
    background-color: #e6e5e3;
    
}




#contactConfirm {
    display: none;
    position: fixed;
    width: 99.5%;
    height: 100vh;
    background-color: #020202;
    z-index: 10;
    background: rgb(60, 60, 60);
    background: rgba(60, 60, 60, 0.6);
    margin-left: -1rem;
    margin-top: -1rem;
}



#thanks {
    display: block;
    background-color: rgb(252, 250, 145);
    width: 35%;
    height: 35%;
    margin: 15rem auto;
    text-align: center;
    align-items: center;
    padding: 6% 0;
}


#confirmCloseBtn {
    background: rgb(241, 174, 48);
    background: linear-gradient(121deg, rgba(241, 174, 48, 1) 67%, rgba(236, 132, 11, 1) 76%, rgba(208, 91, 15, 1) 83%, rgba(193, 69, 17, 1) 94%, rgba(161, 22, 22, 1) 100%) !important;
    border: none;
    margin-top: 2rem;
    height: 2rem;
    width: 6rem;
    cursor: pointer;
}

/*AIKI videobox stuff*/
.aikivideodbox {
    display: grid;
    margin: 15rem auto;
    margin-bottom: -6rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 14rem;
    width: 47%;
    max-width: 100rem;
    min-width: 10rem;
    box-shadow: 20px 5px 10px #686464;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 12px 29px 81px 0px rgba(0, 0, 0, 0.75);

}

.video1 {
    grid-area: 1 / span 3 / 4;
    height: 50px;
    width: 100%;
    min-height: 100%;

}

.video2 {
    grid-area: 3 / span 2 / 2;
    height: 50%;
    width: 100%;
    min-height: 100%;

}

.video3 {
    grid-area: 1 / span 2 / 2;
    height: 50%;
    width: 100%;
    min-height: 100%;
}

.video4 {
    grid-area: 1 / span 2 / 2;
    height: 50%;
    width: 100%;
    min-height: 100%;
}

.video5 {
    grid-area: 2 / span 2 / 2;
    height: 50%;
    width: 100%;
    min-height: 100%;
}



/*AIKI rõngad stuff*/
#aikirongad {
    display: block;
    height: 18rem;
    margin: 28.8rem auto;
    margin-top: 9rem;
}


/*FOOTER stuff pore hetgel kasutusel*/
.footer-style {
    position: relative;
    background: rgb(162, 0, 0);
    background: linear-gradient(180deg, rgba(162, 0, 0, 0.8492530801383054) 0%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 93%);
    height: 150px;
    /*box-shadow: 0 -5px 10px  #efefef ;*/
    border: transparent 1px solid;
    padding-top: 2.5rem;
    /*border:solid 1px;*/
}

.footer {
    border: none !important;
    margin: 0 !important;
}

.aadress {
    position: relative;
    margin: auto;
    f top: 23px;
    width: 140px;
    border: none;
}


.footer-style {
    display: none;
    position: relative;
    background: rgb(162, 0, 0);
    background: linear-gradient(180deg, rgba(162, 0, 0, 0.8492530801383054) 0%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 93%);

    /*box-shadow: 0 -5px 10px  #efefef ;*/
    border: transparent 1px solid;

    /*border:solid 1px;*/
}

.aadress {
    width: 90px;
    border: none;
}

/*Suurel ekraanil*/
@media (min-width:1395px) {}


/*norm ekraan*/
@media (min-width:1089px) and (max-width: 1395px) {
    .infobox {
        /*border: blue 1px solid;*/
        margin-left: 24rem;
    }

    #aikirongad {
        display: block;
        height: 18rem;
        margin: 28.8rem auto;
        margin-top: 9rem;
    }

    
}

/*Väiksem ekraan*/
@media (min-width: 768px) and (max-width: 1089px) {

    .aikivaatab {
        display: none;
    }

    #leftBanner {
        position: fixed;
        width: 19rem;
        height:18rem;
        left: 3rem;
        top: 15rem;
        z-index: 1;
        border-radius: 3px;
    }

    


    .infobox {
        margin-right: 3rem;
        width: 60%;
        /*border: rgb(2, 207, 139) 1px solid;*/
    }

    .aikivideodbox {
        display: none;
        margin: auto 20rem;
        margin-top: 6rem;
        width: 35rem;
    }

    #leftBanner {
        position: fixed;
        width: 14rem;
        left: 2rem;
        top: 15rem;
        z-index: 1;
        border-radius: 3px;

    }
    
   
    #menu {
        position: relative;
        display: block;
        margin: auto;
        margin-bottom: 5rem;
        border: none;
        width: 29rem;
        height: 50px;
        left: -76px;
        top: 0px;
    
    }
    #aikirongad {

        display: block;
        height: 18rem;
        margin: 28.8rem auto;
        margin-top: 9rem;
    }

    #andmed {
        display: block;
    }

    #email {
        margin-bottom: 2rem;
    }

    #message {
        width: 100%;
        height: 10rem;
    }

    #menubutton7 {
        margin-left: 4rem;
    }

}

/*Mobiil vaade*/
@media (max-width: 768px) {
    .infobox {
        /*border: yellow 1px solid;*/
        display: block;
        margin: 2rem auto;
        width: 95%;
        height: 68vh;
        padding-top: 0;
        margin-top: 0;
    }

    #menuBtn {
        background-image: url('media/icon-menu.svg');
        margin-right: 1rem;
        position: absolute;
        right: 1.5rem;
        top: 2.5rem;
        
    }
    
    #closeMenuBtn {
        position: absolute;
        top: 2.5rem;
        right: 2rem;
        background-image: url('media/icon-close.svg');
    }
    
    #menuBtn,
#closeMenuBtn {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    border: none;
    cursor: pointer;
}

    body {
        border: 2px solid #ffff;
        background: rgb(3, 3, 3);
        background: linear-gradient(0deg, rgba(3, 3, 3, 1) 0%, rgba(164, 0, 0, 1) 3%);
        border-bottom: none;
        height: 105vh;
    }
    

    
    #menu.show {
        left: 0;
    }
    #menu {
       
        background-color: rgb(10, 10, 10);
        position: fixed;
        border: none;
        height: 105%;
        width: 100%;
        z-index: 1000;
     left:-50rem;
     transition:left.5s;
     text-align: center;
     text-align: center;
        justify-content: center;
        align-items: center;
    }

    #menu ul {
       height: 40%;
        width: 70%;
        text-align: center;
        justify-content: center;
        align-items: center;
     background: none;
     margin:auto; 
   margin-top: 8rem;
    }

    #menu ul li{
      
      padding-bottom: 4rem;
        background: none;
        margin: auto;
    }

    #menu ul li p {
        
        margin:auto -10rem; 
        margin-top: 0rem;
        font-size: 35px;
    }

   nav {
       display: block;
       
     
       
       
   }
   .hidden-desktop {
    display: block;
}
   #menubutton1,
   #menubutton2,
   #menubutton3,
   #menubutton4,
   #menubutton5,
   #menubutton6,
   #menubutton7 {
       
       position: relative;
     
       display:block;
       width: 110px;
       height: 35px;
       
       font-family: 'Lato', sans-serif;
       text-decoration: none;
       text-align: center;
       color: rgb(241, 174, 48);
       text-transform: uppercase;
       padding: 10px 4px 10px 6px;
       background-color:none;
       border-top-left-radius: 2px;
       border-top-right-radius: 2px;
       border-bottom-left-radius: 2px;
       border-bottom-right-radius: 2px;
       letter-spacing: 0.1em;
       align-items: center;
       text-align: center;
       border-top: none;
       border-right: none;
       border-bottom: none;
       border-left: none;
       /*transition-duration: 0.1s;*/
       cursor: pointer;
       margin:auto -10rem; 
       margin-top: 13rem;
   }

    #leftBanner {
        display:none;
    }

    #videoproov {
        width: 100%;
    }

    .aikivaatab {
        display: none;
    }

    #tekst {
        display: block;
    width: 15rem;
    margin-left: -8rem;
   opacity: 0.3;
   padding-top: 0.5rem;
    }

    #mobileMenuLogo {
    display: block;
        margin: 2rem 3rem;
        position:fixed;
    }
   

    .active {
        
        font-size: 10px !important;
        
        
        height: 35px !important;
        border-bottom-left-radius: 2px !important;
        border-bottom-right-radius: 0px !important;
        border-top-left-radius: 2px !important;
        border-top-right-radius: 2px !important;
        border-bottom: none !important;
        font-weight: bold;
        width: 74px !important;
    }

    #aikirongad {
        display: none;
    }

    .aikivideodbox {
        display: none;
    }

    #contentbox {
        height: 100%;
    }

    #content-media {
        height: 100%;
        overflow-y: auto;
        margin: 0px 0px;
        display: block;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 110px 110px 110px 110px 110px;
    }
.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

    .mediaVideo {
        border:rgb(44, 43, 43) 0.1px solid;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .aikitamburiin {
        height: 26rem;
        width: 18rem;
        min-height: 100%;
    }

    .aikiprofiil {

        height: 22rem;
        width: 18rem;
        min-height: 100%;
    }

    .aikipurje3 {
        height: 22rem;
        width: 18rem;
        min-height: 100%;
        padding: 0;
    }

    #content-sanat img {
        display: block;
        margin: 0.5rem auto;
        width: 95%;
        border-radius: 3px;
    }

    #andmed {
        display: block;
    }

    #email {
        margin-bottom: 2rem;
    }

    #message {
        width: 90%;
        height: 10rem;
    }

    fieldset {
        width: 98%;
        display: block;
        margin: auto 1rem;
    }

    #contactConfirm {
        height: 105vh;
        width: 109%;
    }

    

    #thanks {
        display: block;
        background-color: rgb(252, 250, 145);
        width: 70%;
        height: 35%;
        margin: 15rem auto;
        text-align: center;
        align-items: center;

    }
    .menuOsa {
     
      
        
        
        
       
    }

    .logo {
        margin-left: -6rem;
    }


    #content-christmas {
        padding-right: 0rem;
    }